[user]
    name = Adwait Zarbade
    email = anzarbade@gmail.com

[core]
    editor = nvim  # Change to your preferred text editor
    pager = less
    autocrlf = input  # Avoids Windows-style line endings on Unix systems

[alias]
    st = status
    co = checkout
    br = branch
    cm = commit -m
    lg = log --oneline --graph --decorate --all
    df = diff

[color]
    ui = auto

[push]
    default = simple

[pull]
    rebase = false  # Set to true if you prefer rebasing over merging

[merge]
    tool = vimdiff  # Change to your preferred merge tool

[diff]
    tool = vimdiff  # Change if you use a different diff tool

[init]
    defaultBranch = main  # Set default branch name to 'main' instead of 'master'
