avalore/.config/fish/fish_variables
avalore/.config/nvim/lazy-lock.json
avalore/.config/btop/btop.log
avalore/.config/tmux/plugins/tmux-yank/

# I do not know why after stow'ing the dotfiles these files
# appered into my main (dotfiles) directory
avalore/.local/

