* {
  border: none;
  border-radius: 6px;
  font-family: "BlexMono Nerd Font";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: #282828;
  color: #ebdbb2;
  padding: 4px 8px;
}

/* Workspaces */
#workspaces {
  margin: 0 6px;
}

#workspaces button {
  color: #b8bb26;
  background-color: transparent;
  padding: 0 10px;
  margin: 4px 3px;
  transition: background 0.2s;
}

#workspaces button.active {
  background-color: #83a598;
  color: #282828;
}

#workspaces button:hover {
  background-color: #3c3836;
}

/* Mode indicator */
#mode {
  background-color: #fabd2f;
  color: #282828;
  font-weight: bold;
  padding: 0 10px;
  margin: 4px 3px;
}

/* Focused window title */
#window {
  color: #8ec07c;
  padding: 0 10px;
  background: transparent;
  margin: 4px 3px;
}

/* Modules */
#clock, #battery, #cpu, #memory, #temperature,
#network, #pulseaudio, #tray {
  background-color: transparent;
  color: #ebdbb2;
  padding: 0 10px;
  margin: 4px 3px;
  border-radius: 6px;
}

#backlight {
    background-color: transparent;
    color: #ebdbb2;
    padding: 0 10px;
    margin: 4px 3px;
    border-radius: 6px;
}

#custom-updates {
    background-color: transparent;
    padding: 0 10px;
    margin: 4px 3px;
    border-radius: 6px;
    font-size: 16px;
}

#custom-updates {
    color: #fb4934; /* Red for updates available */
}

#disk {
    background-color: transparent;
    color: #ebdbb2;
    padding: 0 10px;
    margin: 4px 3px;
    border-radius: 6px;
}

#disk.warning {
    color: #fabd2f;
}

#disk.critical {
    color: #fb4934;
    animation: blink 1s ease-in-out infinite alternate;
}

#battery.charged {
  background-color: #b8bb26;
  color: #282828;
}

#battery.charging {
  background-color: #fabd2f;
  color: #282828;
}

#battery.critical:not(.charging) {
  background-color: #fb4934;
  color: #ffffff;
  animation: blink 0.5s ease-in-out infinite alternate;
}

@keyframes blink {
  0%   { background-color: #fb4934; }
  100% { background-color: #cc241d; }
}

/* Temperature styling */
#temperature {
  background-color: #83a598;
  color: #282828;
}

/* Tray styling */
#tray {
  background-color: #b8bb26;
  color: #282828;
}
