* {
  border: none;
  border-radius: 6px;
  font-family: "OverpassNerdFont";
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: #1d2021;
  color: #d4be98;
  padding: 4px 8px;
}

/* Workspaces */
#workspaces {
  margin: 0 6px;
}

#workspaces button {
  color: #a9b665;
  background-color: transparent;
  padding: 0 10px;
  margin: 4px 3px;
  transition: background 0.2s;
}

#workspaces button.active {
  background-color: #7daea3;
  color: #1d2021;
}

#workspaces button:hover {
  background-color: #32302f;
}

/* Mode indicator */
#mode {
  background-color: #d8a657;
  color: #1d2021;
  font-weight: bold;
  padding: 0 10px;
  margin: 4px 3px;
}

/* Focused window title */
#window {
  color: #89b482;
  padding: 0 10px;
  background: transparent;
  margin: 4px 3px;
}

/* Modules */
#clock, #battery, #cpu, #memory, #temperature,
#network, #pulseaudio, #tray {
  background-color: transparent;
  color: #d4be98;
  padding: 0 10px;
  margin: 4px 3px;
  border-radius: 6px;
}

#backlight {
  background-color: transparent;
  color: #d4be98;
  padding: 0 10px;
  margin: 4px 3px;
  border-radius: 6px;
}

#custom-updates {
  background-color: transparent;
  padding: 0 10px;
  margin: 4px 3px;
  border-radius: 6px;
  font-size: 16px;
  color: #a9b665;
}

#disk {
  background-color: transparent;
  color: #d4be98;
  padding: 0 10px;
  margin: 4px 3px;
  border-radius: 6px;
}

#disk.warning {
  color: #d8a657;
}

#disk.critical {
  color: #ea6962;
  animation: blink 1s ease-in-out infinite alternate;
}

#battery.charged {
  background-color: #a9b665;
  color: #1d2021;
}

#battery.charging {
  background-color: #d8a657;
  color: #1d2021;
}

#battery.critical:not(.charging) {
  background-color: #ea6962;
  color: #1d2021;
  animation: blink 0.5s ease-in-out infinite alternate;
}

@keyframes blink {
  0%   { background-color: #ea6962; }
  100% { background-color: #c14a4a; }
}

/* Temperature styling */
#temperature {
  background-color: #7daea3;
  color: #1d2021;
}

/* Tray styling */
#tray {
  background-color: #a9b665;
  color: #1d2021;
}
